<div class="text-center">
  <br>
  <!-- TODO:make the load of the personal schedule related to the user from mongoDB, create a list and use ng-repeat to fill the view -->
  <p class="lead">
    <div ng-app="" ng-init="date_time=[
{subject:'Capoeira', date:'10/06/2016',time:'13:00'},
{subject:'Personal trainer', date:'14/06/2016',time:'14:00'},
{subject:'Fisioterapia', date:'18/06/2016',time:'13:00'}]">
      <h2><p>Agenda:</p></h2>
      <ul ng-repeat="x in date_time" class="list-group">
        <b>{{x.subject}}</b>
        <li class="list-group-item">
          {{ x.date + ', ' + x.time }}</li>
      </ul>
    </div>
  </p>
  <br>
