<div class="text-center">
  <br>
  <img style="max-width:300px;" src="modules\core\client\img\brand\logo.png">
  <p class="body">A nossa academia possui instalações agradáveis, equipamentos modernos e um amplo estacionamento para maior conforto de seus alunos. Estamos de portas abertas à todos que como você, procuram o bem estar físico e emocional.</p>
  <p>Nosso principal diferencial é o atendimento especial dado a todos os nossos alunos, com a preocupação de oferecer os melhores equipamentos e profissionais capacitados para desenvolver os melhores treinos para que nossos alunos alcancem seus objetivos e possuam mais qualidade de vida.</p>
<br>
<div class="text-center">
	<h2>Nossa Missão, Visão e Valores</h2>
	<h3><b>Missão</b></h3>
  <p class="body"><i>“Cuidar da saúde física de nossos clientes; apoiar toda e qualquer ação por uma vida mais saudável; respeitar os limites de cada indivíduo e trabalhar em equipe visando melhorar a qualidade de vida de nossos clientes”.</i>
	</p>
  <h3><b>Visão</b></h3>
  <p class="body"><i>“Comprometimento com os ideais da empresa e seu crescimento. Busca constante pelo seu crescimento profissional e pessoal, tendo como meta tornar-nos referência em academia de ginástica”.</i></p><br>
</div>
</div>
