<div class="text-center">
  <br>
  <h1>A C-Force 42</h1>
  <p>A nossa academia possui instalações agradáveis, equipamentos modernos e um amplo estacionamento para maior conforto de seus alunos. Estamos de portas abertas à todos que como você, procuram o bem estar físico e emocional.</p>
  <p>Nosso principal diferencial é o atendimento especial dado a todos os nossos alunos, com a preocupação de oferecer os melhores equipamentos e profissionais capacitados para desenvolver os melhores treinos para que nossos alunos alcancem seus objetivos e possuam mais qualidade de vida.</p>
<br>
<div class="text-center">
	<h2>Nossa Missão, Visão e Valores</h2>
	<h3>Missão</h3>
  <p>“Cuidar da saúde física de nossos clientes; apoiar toda e qualquer ação por uma vida mais saudável; respeitar os limites de cada indivíduo e trabalhar em equipe visando melhorar a qualidade de vida de nossos clientes”.
	</p>
  <h3>Visão</h3>
  <p>“Comprometimento com os ideais da empresa e seu crescimento. Busca constante pelo seu crescimento profissional e pessoal, tendo como meta tornar-nos referência em academia de ginástica”.</p><br>
</div>
</div>
