<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6">
        <img alt="C-Force42" class="img-responsive text-center" src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Berkeley_Heights_NJ_weight_room.jpg"/>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">

        <img style="max-width:100px; margin-top: -7px;" src="modules\core\client\img\brand\logo.png"> a sua resposta para a pergunta fundamental sobre ginástica, musculação e tudo mais.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="about">Saiba mais</a>
      </p>
    </div>
  </div>
</section>
