<section>
  <div class="jumbotron text-center">
      <div class="img-responsive">
    <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-6">
    <img alt="C-Force42" class="img-responsive text-center"  align="center" src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Barbell_Group_Fitness_Class2.JPG"/>
    </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        <img style="max-width:220px;" src="modules\core\client\img\brand\logo.png"> <br /><i>A sua resposta para a pergunta fundamental sobre ginástica, musculação e tudo mais.</i>
      </p>
    </div>
    <br>
      <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="about">Saiba mais</a>
      </p>
      </div>
</section>
