<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({});
  });
</script>
<section id="directives-calendar" ng-controller="CalendarController">
  <div class="page-header">
    <h1>Calendario de Aulas</h1>
  </div>
  <div class="well">
    <div class="row-fluid">
      <div class="span4">
        <button type="button" class="btn btn-primary" ng-click="addEvent()">
          Adicionar Evento
        </button>
      </div>

      <ul class="unstyled">
        <li ng-repeat="e in events">
          <div class="alert alert-info">
            <a class="close" ng-click="remove($index)">
              <i class="icon-remove"></i>
            </a>
            <b><input ng-model="e.title">
              {{e.start | date:"MMM dd"}}
              -
              {{e.end | date:"MMM dd"}}</b>
          </div>
        </li>
      </ul>
    </div>
    <div class="painel header">
      <div class="btn-toolbar">
        <p class="pull-left lead">Opções de visualização:</p>
        <div class="btn-group pull-right">
          <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">Dia</button>
          <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">Semana</button>
          <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Mês</button>
        </div><br/>
      </div>
      <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
      <br/>
    </div>
  </div>
</section>
