<div class="text-center" ng-controller="SettingsController">
  <h2>
    <p class="panel-heading">Agenda:</p>
  </h2>
  <div class="form-group text-center">
    <ul ng-repeat="x in date_time" class="list-group" id={{x.subject}}>
      <a class="close" ng-click="Remove($index)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></a>
        <b>{{x.subject}}</b>
        <li class="list-group-item">
          {{ x.date + ', ' + x.time }}</li>
      </ul>
    </div>

    <form class="form-group text-center " method="post" class="form container">
      <h3>Novo item</h3>
      <input type="text" placeholder="Assunto aqui!" name="subject" ng-model="subject"/>
      <input type="text" placeholder="DD/MM/YYYY" name="date" ng-model="date"/>
      <input type="text" placeholder="HH:mm" name="time" ng-model="time"/>
      <a class="btn" ng-click="AddNew()" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></a>
      </form>
